body{
    margin: 0;
    padding: 0;
}
.con{
    z-index: -99;
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: rgb(51, 51, 51);
}
.options{
width: 60%;
padding:2% 1% 2% 4%;

justify-content: center;
align-content: center;
}
.payment{
    width: 40%;
    padding: 1.5% 0%;
    }
.card{
height: 100%;
width: 50%;
background-color: rgb(95, 95, 95);
display: flex;
flex-direction: column;
align-items: center;
justify-items: center;
color: aliceblue;

}
.op-c{
    width: 100%;
    display: flex;
    flex-direction: column;
     
}
.steps{
    display: flex;
    flex-direction: row;
    border-bottom: 1px rgba(128, 128, 128, 0.541) solid;
    width: 100%;
    padding-bottom: 0.4rem;
    color: aliceblue;
}
.s1,.s2{
    width: 50%;
      padding-bottom: 0.4rem;
}
.active{

    border-bottom: 1px rgba(17, 201, 247, 0.541) solid;
}
.methods{
    display: flex;
    flex-direction: column;
    width: 100%;
    color: aliceblue;
    margin-top: 1rem;
}
.methods p{
    margin-bottom: -0.2rem;
}
.sub-m{
    margin: 0.6rem 0rem 0.6rem;
    padding: 0.5rem;
    background-color: rgb(95, 95, 95);
    border-radius: 0px;
    display: flex;
    flex-direction: row;
    height: 2rem;
    align-items: center;
}
.sub-m *{
    padding: 0.3rem;
}

.radio-i{
width: 50%;
display: flex;
flex-direction: row;
}
.n-m{
    width: 50%;
}
.card .p{
    align-self: center;
    width: 100%;
    color: aliceblue;
    padding-left: 2rem;

}
.img{
    height: auto;
    width: 90%;
}
.prods{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    border-bottom: 1px rgba(216, 216, 216, 0.774) solid;
    height: fit-content;
    width: 90%;
}
.total{
    height: fit-content;
    width: 90%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px rgba(216, 216, 216, 0.774) solid;
}
.line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}